<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TTest">
    <classes>
      <class name="test.trial.US200075DisplayPROsInOrderWhichTheyEnter">
     <methods>
        <include name="LdgTrailerWithProAddPro2"/>
    
  
      </methods></class> 	
    </classes>
  </test> <!-- TTest -->
</suite> <!-- Suite -->
