<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CL testing" verbose="2">
  <test name="Test">
    <classes>
      <class name="TestCase.CLtesting.CLScreenTesting">
       <methods>
        <include name="CLHasProSetToCL"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
